ALZAGRO.AppRendicionGastos.Application/Service References/TokenManagementService/TokenManagement_1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://www.reuters.com/ns/2006/05/01/webservices/rkd/TokenManagement_1" xmlns:global="http://www.reuters.com/ns/2006/05/01/webservices/rkd/Common_1" xmlns:mstns="http://www.reuters.com/ns/2006/05/01/webservices/rkd/TokenManagement_1" elementFormDefault="qualified" targetNamespace="http://www.reuters.com/ns/2006/05/01/webservices/rkd/TokenManagement_1" id="TokenManagement_1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="Common_1.xsd" id="Common_1" namespace="http://www.reuters.com/ns/2006/05/01/webservices/rkd/Common_1" />
  <xs:simpleType name="UsernameType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="EffectiveUsernameType">
    <xs:simpleContent>
      <xs:extension base="mstns:UsernameType">
        <xs:attribute default="Reuters" name="userType" use="optional">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Reuters" />
              <xs:enumeration value="Linked" />
              <xs:enumeration value="Unmanaged" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="PasswordType">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:complexType name="SetPassword_Request_1">
    <xs:sequence>
      <xs:element ref="global:ApplicationID" />
      <xs:element ref="mstns:Username" />
      <xs:element name="OldPassword" type="mstns:PasswordType" />
      <xs:element name="NewPassword" type="mstns:PasswordType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SetPassword_Response_1">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="CreateToken_Response">
    <xs:sequence>
      <xs:element name="Expiration" type="mstns:TokenExpirationType" />
      <xs:element ref="global:Token" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="TokenExpirationType">
    <xs:restriction base="xs:dateTime" />
  </xs:simpleType>
  <xs:complexType name="ValidateToken_Request_1">
    <xs:sequence>
      <xs:element ref="global:ApplicationID" />
      <xs:element ref="global:Token" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ValidateToken_Response_1">
    <xs:sequence>
      <xs:element name="Expiration" type="mstns:TokenExpirationType" />
      <xs:element name="Valid" type="xs:boolean" />
      <xs:element minOccurs="0" name="Error">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Invalid" />
            <xs:enumeration value="Expired" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ValidateToken_Response_2">
    <xs:sequence>
      <xs:element name="Expiration" type="mstns:TokenExpirationType" />
      <xs:element name="Valid" type="xs:boolean" />
      <xs:element minOccurs="0" name="MxPDBID" type="xs:string" />
      <xs:element minOccurs="0" name="Error">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Invalid" />
            <xs:enumeration value="Expired" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreateServiceToken_Request_1">
    <xs:group ref="mstns:ServiceCredentialsGroup" />
  </xs:complexType>
  <xs:complexType name="CreateImpersonationToken_Request_1">
    <xs:annotation>
      <xs:documentation>
				This request form requires the client application is passing the
				RKAPI Authorization header containing the Service token and Application ID
			</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="mstns:EffectiveUsername" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreateImpersonationToken_Request_2">
    <xs:annotation>
      <xs:documentation>
				This request form provides a way to directly create an impersonation token
				by passing the service account credentials in addition to the effective user name
			</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:group ref="mstns:ServiceCredentialsGroup" />
      <xs:element ref="mstns:EffectiveUsername" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreateImpersonationToken_Request_3">
    <xs:sequence>
      <xs:element ref="global:ApplicationID" />
      <xs:element ref="global:Token" />
    </xs:sequence>
  </xs:complexType>
  <xs:group name="ServiceCredentialsGroup">
    <xs:sequence>
      <xs:element ref="global:ApplicationID" />
      <xs:element ref="mstns:Username" />
      <xs:element name="Password" type="mstns:PasswordType" />
    </xs:sequence>
  </xs:group>
  <xs:element name="Username" type="mstns:UsernameType" />
  <xs:element name="EffectiveUsername" type="mstns:EffectiveUsernameType" />
  <xs:element name="CreateServiceToken_Request_1" type="mstns:CreateServiceToken_Request_1" />
  <xs:element name="CreateServiceToken_Response_1" type="mstns:CreateToken_Response" />
  <xs:element name="CreateImpersonationToken_Request_1" type="mstns:CreateImpersonationToken_Request_1" />
  <xs:element name="CreateImpersonationToken_Response_1" type="mstns:CreateToken_Response" />
  <xs:element name="CreateImpersonationToken_Request_2" type="mstns:CreateImpersonationToken_Request_2" />
  <xs:element name="CreateImpersonationToken_Response_2" type="mstns:CreateToken_Response" />
  <xs:element name="CreateImpersonationToken_Request_3" type="mstns:CreateImpersonationToken_Request_3" />
  <xs:element name="CreateImpersonationToken_Response_3" type="mstns:CreateToken_Response" />
  <xs:element name="ValidateToken_Request_1" type="mstns:ValidateToken_Request_1" />
  <xs:element name="ValidateToken_Response_1" type="mstns:ValidateToken_Response_1" />
  <xs:element name="ValidateToken_Request_2" type="mstns:ValidateToken_Request_1" />
  <xs:element name="ValidateToken_Response_2" type="mstns:ValidateToken_Response_2" />
  <xs:element name="SetPassword_Request_1" type="mstns:SetPassword_Request_1" />
  <xs:element name="SetPassword_Response_1" type="mstns:SetPassword_Response_1" />
</xs:schema>